*txt
*out 
*xwm
*swp
*aux
*log
*tui
*.fls
*toc
*.4ct
*.4tc
*.html
*.css
*.dvi
*.epub
*.lg
*.ncx
*.xref
*.tmp
*.idv
*.opf
*.fdb_latexmk
*.DS_Store
*.synctex.gz
*.txt
*.pdf
!*.png
!*.docx
!chap.pdf
!chap2.pdf
